---
title: Work In Progress
---

<div class="welcome">
  <h1>WIP: I'm  rewriting my pages in Middleman.</h1>
  <p class="doc">
    <%= link_to "GitLab Tutorials", "gitlab.html" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
